<ion-view view-title="Feedback">
  <ion-content>
    <div ng-if='success'>
	<h3 class="title" style='color:green'>Success!</h3>
	
	<p class='text'>On year {{currentSelectedYear}} there were {{populationByAge}} persons who were {{currentSelectedAge}} years old. The total population of Sweden that year was {{totalPopulationByYear}}. This means that the percent of the people who were {{currentSelectedAge}} years old in the total population was {{realPercentShort}}% (well, {{realPercent}}% to be more precise :) ).</p>
	<br><br><p class='text'> You managed to guess it, who would've known?</p>
	</div>

	<div ng-if='prettyClose'>
	<h3 class='title' style='color:orange'>Pretty close!</h3>
	
	<p class='text'>On year {{currentSelectedYear}} there were {{populationByAge}} persons who were {{currentSelectedAge}} years old. The total population of Sweden that year was {{totalPopulationByYear}}. This means that the percent of the people who were {{currentSelectedAge}} years old in the total population was {{realPercentShort}}% (well, {{realPercent}}% to be more precise :) ).</p>
	<br><br><p class='text'> You were pretty close to nail it with your guess of {{currentGuess}}% (but pretty close is never enough, is it?)</p>
	</div>
	
	<div ng-if='wayOff'>
	<h3 class='title' style='color:red'>Way off!</h3>
	
	<p class='text'>On year {{currentSelectedYear}} there were {{populationByAge}} persons who were {{currentSelectedAge}} years old. The total population of Sweden that year was {{totalPopulationByYear}}. This means that the percent of the people who were {{currentSelectedAge}} years old in the total population was {{realPercentShort}}% (well, {{realPercent}}% to be more precise :) ).</p>
	<br><br><p class='text'> You failed to guess it (and what a fail it was...)</p>
	</div>
	
	
	<br>
    	<button class="button button-full button-calm" ng-click='startNew()'>Start new</button>
	<br><br>
		<div>
		<!--<button ng-click='clearMemory()'>Clear</button>-->
		</div>
  </ion-content>
</ion-view>
