<ion-view view-title="Question">
  <ion-content>
    <h3 class='title'>Question</h3>
    
    <p class="text">How many people as old as you were in Sweden on year {{currentYear}}?</p>

    	<input type="range" min='0' max='3' step='0.1' ng-model='datax.level' style='width:90%; margin-left:2%'> <br>                                                      
   		<br><br>
   		<p class="text">Answer = {{datax.level}}%</p>
    	<br>
    	<button class="button button-full button-calm" style='margin:2%; margin-bottom:10%' ng-click='send()'>Send</button>

  </ion-content>
</ion-view>
