<ion-view view-title="User info">
  <ion-content>
    
    <h3 class="title">How old were you?</h3>
    
    <p class="text">You can choose your age and the year you were that age (ex, you were 10 in 1990). Years available are from 1968 to 2014.</p>

	<div class='select'>
    	<select id='ageSelection' ng-model="age.selected" ng-options="age as age.value for age in ages">
    		 <option value="" ng-if="!age.selected">Select your age...</option>	
    	</select><br><br>
    	<select id='yearSelection' ng-model="year.selected" ng-options="year as year.value for year in years">
    		 <option value="" ng-if="!year.selected">Select some year...</option>	
    	</select><br><br>
	</div>
    	<button class="button button-full button-calm" ng-click='send()'>Send</button>
  </ion-content>
</ion-view>
