/* Empty. Add your own CSS if you like */

.title {
	
	text-align:center; 
	margin: 10%;
}

.text {
	
	text-align: justify;
    text-justify: inter-word;
	margin: 2%;
}

.select {
	text-align:center;
	margin-bottom: 10%;
}